/* intuitivnejsi box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header,
footer,
article,
nav,
aside,
.reklama1,
.reklama2 {
  padding: 20px;
}

header > :first-child,
footer > :first-child,
article > :first-child,
nav > :first-child,
.reklama1 > :first-child,
.reklama2 > :first-child {
  margin-top: 0;
}

header > :last-child,
footer > :last-child,
article > :last-child,
nav > :last-child,
aside > :last-child,
.reklama1 > :last-child,
.reklama2 > :last-child {
  margin-bottom: 0;
}

.hlavicka {
  background-color: #2ecc71;
}
.menu {
  background-color: #e74c3c;
}
.obsah {
  background-color: #f1c40f;
}
.reklama1 {
  background-color: #8e44ad;
}
.reklama2 {
  background-color: mediumturquoise;
}
.paticka {
  background-color: dodgerblue;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/

.reklama1 {
  margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .obsah {
    display: flex;
    flex: 1 1 100%;
  }
  .clanek {
    flex-basis: 60%;
  }
  .reklama {
    flex-basis: 40%;
  }
  .reklama1 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1000px) {
  .kontejner {
    display: flex;
  }
  .menu {
    flex-basis: 25%;
  }
  .obsah {
    display: block;
  }
  .reklama {
    display: flex;
  }
  .reklama1 {
    flex-basis: 50%;
    margin-right: 20px;
  }
  .reklama2 {
    flex-basis: 50%;
  }
}
