/* intuitivni box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

.obdelnik {
		display: block;
		margin-bottom: 20px;
		padding: 30px 30px;
		font-size: 24px;
		text-align: center;
		border: 3px solid black;
		background-color: #2ecc71;
}

@media screen and (min-width:800px) {
	.obdelnik {background-color:#e74c3c ;}
}
/*
	Napiš CSS, kde bude mít obdélník ve výchozím stavu zelenou
	barvu pozadí.	Když bude šířka prohlížeče (resp. šířka viewportu)
	větší než 800px, změň barvu pozadí na červenou.

	zelená		#2ecc71
	červená		#e74c3c
*/

